    /* BOTONES */
.btn-primary{
    font-size: 1.5em;
    text-decoration: none;
    background-color: transparent;
    color: $color-negro;
    border: 2px solid $color-botones;
    border-radius: 4px;

    &:hover{
        background: $color-botones ;
        border: 2px solid $color-botones;
        color: #ffffff;
    }
    &:active{
        background: $color-botones !important ;
        border: 2px solid $color-botones !important;
    }
}

.btn-aceptar{
    @extend .btn-primary;
    background-color: $color-botones;
    color: $color-blanco;
    &:hover{
        background-color: $color-naranja;
        color: $color-negro;
    }
}

.botones{
    padding: $p-4 $p-4+16 $p-4 $p-4+16;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;

    input{
        background: $color-azul-oscuro;
        font-size: 1.5em;
        border-radius: 4px 24px;
        padding: $p-2 $p-2;
        color: $color-blanco;
        width: 300px;
        margin: 4px 0 16px 0;

        &:hover{
            border-radius: 24px 4px;
            background: $color-naranja;
            color: $color-negro;
            font-weight: 800;
            transition: all 0.5s ease;
        }
    }
}
#btn-filtros{
    @extend .botones;
    padding: $p-0;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;

    input{
        padding: $p-0;
        width: 300px;
        height: 50px;
    }
}