    /* PAGINACION */
.paginacion{
    margin: 18px 0;
    display: flex;
    justify-content: center;

    ul{
        list-style: none;
        text-align: center;
        padding: $p-4 $p-0;

        li{
            display: inline-block;
            margin-right: 8px;

            a{
                display: block;
                padding: $p-2 $p-4+2;
                color: $color-blanco;
                background: $color-azul-oscuro;
                text-decoration: none;
                border-radius: 22px;
                font-weight: 600;

                &:hover{
                    background: $color-naranja;
                    color: $color-negro;
                    transition: all 1s ease;
                }
            }
        }
    }
}
